---
- name: Configure OIDC
  ansible.builtin.include_tasks: infra/oidc.yml

# - name: Configure Trust Anchor
#   ansible.builtin.include_tasks: infra/trust_anchor.yml

# - name: Configure TLS certs
#   ansible.builtin.include_tasks: infra/tls_cert.yml

- name: Configure db
  ansible.builtin.include_tasks: infra/db.yml
  args:
    apply:
      become: true

